# trading_engine/
trading_engine/

# fyers_token
fyers_token/token_script/.env
fyers_token/token_script/logs/fyers_token_update.log
fyers_token/token_script/logs/*


# Ignore any backup files
*.bak
*.backup
*~

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#fyers token log
fyers_token/token_script/.env
fyers_token/token_script/logs/fyers_token_update.log

#token counter
others/token_counter/msg.txt